<h1>Books</h1>

<%= @Books.each do |list| %>






<h2>New book</h2>
<!-- form_with部分 -->
<%= form_with model: Home.new do |f| %>
  <h5>title</h4>
  <%= f.text_field :title %>
	
  <h5>body</h5>
  <%= f.text_area :body %>
	
  <%= f.submit 'Creare Book' %>
<% end %>